/* General Modal Overlay */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Retain dark overlay */
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.modal-overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Modal Panel */
.modal-panel {
    background-color: #262626; /* Matches table and div backgrounds */
    width: 90%;
    height: 90%;
    /*max-width: 800px;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: #b3b3b3; /* Matches text color */
}

#modal-notebook-title-editor-panel,
#modal-column-name-editor-panel {
    max-width: 500px;
    max-height: 175px;
}

/* Modal Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #b3b3b3;
}

.modal-header .btn-cancel,
.modal-header .btn-save {
    padding: 7px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3f3f3f; /*7648d9*/
    color: #ffffff;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.15), 0 4px 14px 0 rgba(0,0,0,0.12);
}

.modal-header .btn-cancel:hover {
    background-color: #555555; /*8b62e0*/
}

.modal-header .btn-save:hover {
    background-color: #555555; /*8b62e0*/
    /* background-color: #0056b3;  Darker hover effect */
}

/* Modal Body */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%; /* Ensure the modal body takes up all available height */
}

.modal-body label {
    font-weight: bold;
    color: #b3b3b3; /* Matches text color */
}

.modal-body input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #3f3f3f; /* Matches scrollbar color */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1e1e1e; /* Matches body background */
    color: #b3b3b3; /* Matches text color */
    font-size: 16px;
}

.modal-body textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3f3f3f; /* Matches scrollbar color */
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    background-color: #1e1e1e; /* Matches body background */
    color: #b3b3b3; /* Matches text color */
    font-size: 16px;
}

/* Responsiveness */
@media (max-width: 600px) {
    .modal-panel {
        width: 100%;
        padding: 15px;
    }

    .modal-header .btn-cancel,
    .modal-header .btn-save {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}

/* Note Editor Specific Styles */
#note-editor-upper {
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px solid #3f3f3f;
    background-color: #262626; /* Matches modal panel background */
    color: #b3b3b3; /* Matches text color */
    padding-left: 17%;
    padding-right: 17%;
}

/* Lower section (where the textarea is) */
#note-editor-lower {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* This makes the textarea container take up the remaining space */
}

#note-editor-lower textarea {
    /*height: 375px;*/
    width: 100%;
    height: 100%;
    background-color: #1e1e1e; /* Matches input background */
    color: #b3b3b3; /* Matches text color */
    border: 1px solid #3f3f3f; /* Matches border color */
}

.note-column-container {
    display: flex;
    align-items: center;
}

.note-column-container label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    color: #b3b3b3; /* Matches text color */
}

.modal-body .note-column-container input[type="text"] {
    flex: 2;
    padding: 3px;
    border: 1px solid #3f3f3f; /* Matches border color */
    border-radius: 4px;
    background-color: #1e1e1e; /* Matches input background */
    color: #b3b3b3; /* Matches text color */
    font-size: 16px;
}
